<%- include('includes/head.ejs') %>
<body>
	<header>
		<ul>
			<li>
				<a href="/">Bosh sahifa</a>
			</li>
			<li>
				<a href="./added-user.html">added users</a>
			</li>
		</ul>
	</header>
	<h1><span>404 Not Founded</span></h1>
</body>
<%- include('includes/foo.ejs') %>
