<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="/">Bosh sahifa</a>
				</li>
				<li>
					<a href="./added-user.html">added users</a>
				</li>
			</ul>
		</header>
		<h1><span>404 Not Founded</span></h1>
	</body>
</html>
