<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>addet-users</title>
		<link rel="stylesheet" href="css/added-user.css" />
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/">Bosh sahifa</a><br /></li>
				<li><a href="./added-user.html">added user</a></li>
			</ul>
			<form action="/users" method="POST">
				<input type="text" name="username" />
				<input type="number" name="age" />
				<button>send</button>
			</form>
			<h1>succes pas</h1>
		</header>
	</body>
</html>
