<header>
	<ul>
		<li><a href='/'>Bosh sahifa</a><br /></li>
		<li><a href='./added-user.html'>added users</a></li>
	</ul>
	<form action='/users' method='POST'>
		<input type='text' name='username' />
		<input type='number' name='age' />
		<button>send</button>
	</form>
	<h1>succes pas</h1>
</header>