<link rel='stylesheet' href='/public/css/added-user.css' />
<form action='/edit' method='POST'>
	<input type='text' name='username' value='{{user.username}}' />
	<input type='number' name='age' value='{{user.age}}' />
	<button>send</button>
</form>
<h1>succes pas</h1>