<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=\, initial-scale=1.0" />
		<title><% title %></title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('includes/nav.ejs') <% if (users.length > 0) { %> <% for (let user of users) { %>
		<main class="card">
			<img src="https://klike.net/uploads/posts/2023-01/1674365337_3-31.jpg" alt="img" style="width: 100%" />
			<h2>Name: <%= user.username %></h2>
			<h2>Age: <%= user.age %></h2>
		</main>
		<% } %> <% } else { %>
		<h2>Upload now users</h2>
		<% } %>
	</body>
</html>
