doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title add-users
    link(rel="stylesheet", href="/css/main.css")
  body 
  header
   h1 Bosh sahifa
   ul  
    li 
   a(href="/") Users page
    li 
   a(href="./added-user.html")  add-users page

  