doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/css/main.css")
  body 
    header
       h1 Bosh sahifa
       ul  
        li 
         a(href="/") Users page
        li 
         a(href="./added-user.html")  add-users page
    main 
      h1 User list
      each user in users
        main.card
          img(src="https://klike.net/uploads/posts/2023-01/1674365337_3-31.jpg", alt="avatar" style="width:100%")
          div.contsainer
            h4
               b #{user.username}
            p age: 14 

  




  