<main>
	{{#if user}}
		<div class='card'>
			<img src='https://www.w3schools.com/howto/img_avatar.png' alt='Avatar' style='width:100%' />
			<div class='container'>
				<h2><b>Name: {{user.username}}</b></h2>
				<h2>Age: {{user.age}}</h2>
			</div>
			<span>
				<a href='/users/{{id}}'>delete users</a>
			</span>
		</div>
	{{else}}
		<p>Userlarni barcha listi...</p>
	{{/if}}
</main>