* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 120px;
	background-color: blue;
}
h1 {
	color: white;
}
ul {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding-top: 10px;
	text-align: center;
}
li {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
}
