* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100px;
	background-color: blue;
}
h1 {
	color: white;
}
ul {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding-top: 10px;
	text-align: center;
}
li {
	list-style: none;
}
a {
	color: white;
}

.card {
	width: 400px;
	height: 460px;
	box-shadow: 2px 2px 3px black;
	margin: 10px auto;
}
.contsainer {
	width: 400px;
	height: 40px;
	background: #ffffff;
	text-align: center;
	color: black;
}

p {
	padding-top: 1px;
}

h1 span {
	color: black;
}
